spring.jpa.hibernate.ddl-auto=update
logging.level.root=info

# Name of the bot
name = Dirk

# Discord related settings
#############################
# Discord development api key
discord.api.key =

# If the bot is in production state
discord.production = false

# Command prefix
discord.prefix = !

# Database related settings
#############################
# Database url
database.url=jdbc:mysql://127.0.0.1:3306/benelux

# Database username
database.username=root

# Database password
database.password=
